@using ClubBaist.Web.Components.Account.Shared
<Router AppAssembly="typeof(Program).Assembly" NotFoundPage="typeof(Pages.NotFound)">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
            <NotAuthorized>
                <AuthorizeView>
                    <Authorized Context="authState">
                        <div class="container mt-4">
                            <h3>Access Denied</h3>
                            <p>You do not have permission to access this page.</p>
                            <a href="/" class="btn btn-outline-secondary">Back to Home</a>
                        </div>
                    </Authorized>
                    <NotAuthorized Context="authState">
                        <RedirectToLogin />
                    </NotAuthorized>
                </AuthorizeView>
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
</Router>
